{% include "header.html" %}
<div class="container container-body">
<body>
<h2>Login Page: </h2>
<hr>
<h3>If you are a student, your username is your name and your passcode is your student id</h3>
<h3>If you are a Librarian, your username is your name and your passcode is your ssn</h3>

<form method="POST" action="/login">
	<td>
		<select name="person">	
    		<option value="" selected disabled hidden>Choose here</option>
    		<option value = "student"> student</option>
    		<option value = "librarian"> librarian </option>
		</select>
	</td>
	
	<p> User Name:<input type="search" name="username" value = '' required></p>
	<p> Passcode: <input type="search" name="passcode" value = '' required><input type="submit" value="search"></p>
</form>

<hr>

<h3> {{output}} </h3>

<hr>

<h3> Sample login user name and passcode </h3>
<h4> For student login: </h4>
<h5>username: abe passcode: 100000</h5>
<h4> For librarian login: </h4>
<h5>username: li passcode: 467317889 </h5>
<h4> Notice that the passcode for librarain must be Integer type. Since in our table, the ssn column require integer input.</h4>
<h4>Username and passcode are set to be not case sensitive<h/4>
</body>
</div>
{% include "footer.html" %}